# Structures de données

## Listes

In [1]:
a = []

In [2]:
type(a)

list

In [5]:
x = ['apple', 'orange']
print(x)

['apple', 'orange']

### Index

Premier élément

In [ ]:
x[0]

dernier élément

In [ ]:
x[-1]

Notes:
- Pas besoin d'allouer de l'espace mémoire avant
- Pas de contraintes sur le contenu

In [7]:
import math
def donothing():
    pass  # python null instruction

In [8]:
l =['carrot',[1, 3], math, donothing]
print(l)

['carrot', [1, 3], <module 'math' (built-in)>, <function donothing at 0x7f84e03e0bf8>]

In [9]:
l[1][0]

1

### Slicing

Même fonctionnement que pour les chaînes de caractères

In [10]:
num = [0,1,2,3,4,5,6,7,8,9]
print(num[0:4])
print(num[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

Possibilité de rajouter une troisième information (step)

In [12]:
num[:9:3]

[0, 3, 6]

Note : Valide aussi pour les chaînes de caractères

### Built in List Functions

Python 3.7 a 69 built-ins functions. Ce sont des fonctions apellable dans n'importe quel contexte, sans import necessaire. 

Nous avons déjà vu certaines (int, float, range, input, print, round).

Certaines de ces fonctions peuvent être utilisés sur les listes :

- min
- max
- len

To find the length of the list or the number of elements in a list, **len( )** is used.

In [13]:
new_list = list(range(0, 10))  # On comprendra la signification de cette ligne plus tard
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
print(len(num))
print(min(num))
print(max(num))

10
0
9

In a list with string elements, **max( )** and **min( )** are still applicable and return the first/last element in lexicographical order.

In [15]:
mlist = ['bzaa','ds','nc','az','z','klm']
print("max =",max(mlist))
print("min =",min(mlist))

max = z
min = az

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [16]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

In [17]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [19]:
names = ['Earth','Air','Fire','Water']

To check if 'Fire' and 'Rajath' is present in the list names

In [20]:
'Fire' in names

True

In [21]:
'Space' in names

False

Here the first index of each element is considered and thus z has the highest ASCII value thus it is returned and minimum ASCII is a. But what if numbers are declared as strings?

**apparté sur max**

max, min, peuvent prendre en argument une fonction

In [23]:
print('longest =',max(names, key=len))
print('shortest =',min(names, key=len))

longest = Earth
shortest = Air

**split pour obtenir des listes**

In [24]:
print('Hello   World !!'.split())
print('1,2,3'.split(","))

['Hello', 'World', '!!']
['1', '2', '3']

**join pour concatener tous les éléments d'une liste**

In [25]:
";".join(["1", "4", "9"])

'1;4;9'

### Modifications de listes

**append( )** ajoute un élément unique à la fin de la liste

In [26]:
lst = [1,1,4,8,7]
lst.append(1)
print(lst)

[1, 1, 4, 8, 7, 1]

Pour ajouter plusieurs éléments. **extend()** doit être utilisée.

In [27]:
lst.extend([10,11,12])
print(lst)

[1, 1, 4, 8, 7, 1, 10, 11, 12]

**count( )** permet de compter le nombre d'éléments d'une liste

In [ ]:
lst.count(1)

**index( )** is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [ ]:
lst.index(1)

**index()** retourne une exception si l'élement recherché n'existe pas.

In [ ]:
lst.index(13)

**insert(index, element)** permet d'insérer un élément à un index spécifique

In [ ]:
lst.insert(5, 'name')
print(lst)

**pop()** supprime et retourne le dernier element de la liste

In [ ]:
lst.pop()

**pop()** peut prendre un index

In [ ]:
lst.pop(0)

Pour supprimer non plus par un index mais par une valeur, **remove( )** peut être utilisée.

In [ ]:
lst.remove('name')
print(lst)

**reverse()** pour renverser une liste

In [ ]:
lst.reverse()
print(lst)

**sort()** trie la liste (en la modifiant)

In [ ]:
lst.sort()
print(lst)

In [ ]:
lst.sort(reverse=True)
print(lst)

Tout comme les fonctions min et max, sort peut prendre un argument key=function pour trier selon un calcul spécifique

In [ ]:
names.sort(key=len)
print(names)

### Dangers liées à la mutabilité

Les listes sont modifiables. 

C'est pour cela que toutes les méthodes vues précédemment changent la liste en place.

La mutabilité des listes peuvent donner des comportement non attendus par les débutants.

In [28]:
row = ["", "", ""]
grid = [row] * 3
print(grid)

[['', '', ''], ['', '', ''], ['', '', '']]

In [31]:
grid[0][1] = "X"

In [33]:
print(grid)

[['', 'X', ''], ['', 'X', ''], ['', 'X', '']]

grid contient trois fois **la même liste**

**Donc, comment copier row ?**

In [40]:
grid = []
row = ["", "", ""]
for i in range(3):
    grid.append([row[:]])
    # row[:] produit une nouvelle liste, en selectionnant tous les éléments
    # équivalent à grid.append([row.copy()])

In [41]:
row[1]="0"
print(grid)

[[['', '', '']], [['', '', '']], [['', '', '']]]

**attention**. La copie d'une liste reste superficielle. Si celle ci contient des éléments mutables (comme une liste imbriquée). Ces éléments-là ne seront copiés que en référence.

In [ ]:
l1 = [["a", "b"], [1, 2]]
l2 = l1[:]
l1[0][1] = "z"
print(l1)
print(l2)

Si ce n'est pas le comportement souhaité, on peut utiliser **copy.deepcopy()**

In [42]:
import copy

l1 = [["a", "b"], [1, 2]]
l2 = copy.deepcopy(l1)
l1[0][1] = "z"
print(l1)
print(l2)

[['a', 'z'], [1, 2]]
[['a', 'b'], [1, 2]]

## List comprehension

Concept très puissant. Idée "empruntée" à la programmation fonctionnelle (Haskell). 
S'applique sur tout iterable (liste, tuples, dictionnaires...)

Cas 1 : Obtenir l'ensemble des éléments d'une liste au carré

In [44]:
ma_liste = [1, 2, 3, 4, 5]
nouvelle_liste = []
for x in ma_liste:
    nouvelle_liste.append(x**2)
print(nouvelle_liste)

[1, 4, 9, 16, 25]

In [45]:
[i**2 for i in ma_liste]

[1, 4, 9, 16, 25]

Se lit : Je contruits une nouvelle liste, à partir des élements de ma liste que je mets au carré

Il est possible d'imbriquer une autre boucle

In [46]:
[10*i+j for i in [1,2,3] for j in [5,7]]

[15, 17, 25, 27, 35, 37]

Ou de rajouter une condition

Finally the looping can be filtered using an **if** expression with the **for** - **in** construct.

In [48]:
[i**2 for i in range(5) if i % 2 == 0] # Seuls les index pairs sont mis au carrés

[0, 4, 16]

**retour sur le problème de construction d'une grille**

In [49]:
grid = [["","",""] for i in range(3)]
print(grid)

[['', '', ''], ['', '', ''], ['', '', '']]

## Tuples

Les tuples sont la version immutable des listes.

In [50]:
a = (1, 2)
print(type(a))

<class 'tuple'>

In [51]:
a[1] = 3  # va provoquer une erreur

TypeError: 'tuple' object does not support item assignment

Astuce pour déclarer un tuple d'une seule valeur

In [52]:
a = (1)  # ceci n'est pas un tuple !
print(type(a))
b = (1,)
print(type(b))

<class 'int'>
<class 'tuple'>

Mêmes operations que sur les listes

In [ ]:
print(3*(27,))
print((1,2)+(3,))

slicing, indexing

In [ ]:
tup = (1, 2, 3, 4, 5)
print(tup[1])
tup2 = tup[:3]
print(tup2)

- append, remove etc... ne marcheront pas (immutable)
- index, count marcheront

Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

Coertion tuples <-> listes

In [ ]:
print(list((1,4,6)))

In [ ]:
print(tuple([1,4,6]))

### affectations multiples grace aux tuples

In [53]:
(a,b,c)= ('alpha','beta','gamma') # are optional
a,b,c = 'alpha','beta','gamma' # The same as the above
print(a,b,c)
a,b,c = ['Alpha','Beta','Gamma'] # can assign lists
print(a,b,c)
[a,b,c]=('this','is','ok') # even this is OK
print(a,b,c)

alpha beta gamma
Alpha Beta Gamma
this is ok

More complex nested unpackings of values are also possible

In [ ]:
(w,(x,y),z)=(1,(2,3),4)
print(w,x,y,z)
(w,xy,z)=(1,(2,3),4)
print(w,xy,z) # notice that xy is now a tuple

**note :** Utile pour les récupérer les multiples valeurs de retour d'une fonction.

In [54]:
def plus_minus(x):
    return x+1, x-1

plus, minus = plus_minus(5)
a = plus_minus(5)
print(minus, plus)

4 6

In [55]:
a

(6, 4)

## Sets

Les sets sont utiles pour maintenir des listes sans doublons et savoir rapidement si un élément est dans un set ou non.

In [ ]:
set1 = set()
print(type(set1))

In [56]:
set0 = set([1,2,2,3,3,4])
set0 = {1,2,2,3,3,4} # equivalent
print(set0)
type(set0)

{1, 2, 3, 4}

set

In [ ]:
if 4 in set0:
    print("4 is included")

In [ ]:
set1 = set([1,2,3])

In [ ]:
set2 = set([2,3,4,5])

**union( )** function returns a set which contains all the elements of both the sets without repition.

In [ ]:
set1.union(set2)

**add( )** will add a particular element into the set. Note that the index of the newly added element is arbitrary and can be placed anywhere not neccessarily in the end.

In [ ]:
set1.add(0)
set1

**intersection( )** function outputs a set which contains all the elements that are in both sets.

In [ ]:
set1.intersection(set2)

**difference( )** function ouptuts a set which contains elements that are in set1 and not in set2.

In [ ]:
set1.difference(set2)

**symmetric_difference( )** function ouputs a function which contains elements that are in one of the sets.

In [ ]:
set2.symmetric_difference(set1)

**issubset( ), isdisjoint( ), issuperset( )** is used to check if the set1/set2 is a subset, disjoint or superset of set2/set1 respectively.

In [ ]:
set1.issubset(set2)

In [ ]:
set2.isdisjoint(set1)

In [ ]:
set2.issuperset(set1)

**pop( )** is used to remove an arbitrary element in the set

In [ ]:
set1.pop()
print(set1)

**remove( )** function deletes the specified element from the set.

In [ ]:
set1.remove(2)
set1

**clear( )** is used to clear all the elements and make that set an empty set.

In [ ]:
set1.clear()
set1